@model IEnumerable<CGH.Models.CertificateContent>

@{
    ViewBag.Title = "育嬰假證明";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>育嬰假證明列表</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Certificate.CertificateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Certificate.CertificateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>

                @Html.ActionLink("育嬰假證明列印", "BabyCareVM", new { _ID = item.ContentID }) 

            </td>
        </tr>
    }

</table>
