@model CGH.Models.Hr
@using CGH.helper
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    重光醫院<br>
    員工基本資料
</h2>
<p style="text-align:right">
    NO. @Html.DisplayFor(model => model.MemberID)
</p>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <center>
            <Table border="2" width="75%" height="40">

                <tr>
                    <td height="40">
                        @Html.DisplayNameFor(model => model.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>

                    <td>
                        @Html.DisplayNameFor(model => model.Nationality1.NationalityName)
                    </td>

                    <td colspan="2">
                        @Html.DisplayFor(model => model.Nationality1.NationalityName)
                    </td>
                    <td rowspan="5" width="15%" align="center">相片</td>
                </tr>
                <tr>

                    <td height="40">
                        @Html.DisplayNameFor(model => model.IDcardNO)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.IDcardNO)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Sex1.SexName)
                    </td>

                    <td colspan="2">
                        @Html.DisplayFor(model => model.Sex1.SexName)
                    </td>

                </tr>
                <tr>
                    <td height="40">
                        @Html.DisplayNameFor(model => model.Title1.TitleName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Title1.TitleName)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Birthplace)
                    </td>

                    <td colspan="2">
                        @Html.DisplayFor(model => model.Birthplace)
                    </td>
                </tr>
                <tr>
                    <td height="40">
                        @Html.DisplayNameFor(model => model.Dep1.DepName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Dep1.DepName)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Marriage1.MarriageName)
                    </td>

                    <td colspan="2">
                        @Html.DisplayFor(model => model.Marriage1.MarriageName)
                    </td>
                </tr>
                <tr>
                    <td height="40">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </td>

                    <td>
                        @Html.ToFullTaiwanDate(Model.StartDate)
                       
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Birthday)
                    </td>

                    <td colspan="2">

                        @Html.ToFullTaiwanDate(Model.Birthday)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Hire1.HireName)
                    </td>

                    <td height="50">
                        @Html.DisplayFor(model => model.Hire1.HireName)
                    </td>

                    <td>
                        @Html.DisplayNameFor(model => model.Military1.MilitaryName)
                    </td>

                    <td height="50">
                        @Html.DisplayFor(model => model.Military1.MilitaryName)
                    </td>





                </tr>
                <tr>
                    <td height="50">
                        @Html.DisplayNameFor(model => model.Height)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Height)
                    </td>


                    <td>
                        @Html.DisplayNameFor(model => model.Weight)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Weight)
                    </td>

                    <td height="50">


                        @Html.DisplayNameFor(model => model.Bool.BoolName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Bool.BoolName)
                    </td>
                </tr>
                <tr>


                    <td height="50">
                        @Html.DisplayNameFor(model => model.Postal2)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Postal2)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Address2)
                    </td>

                    <td colspan="3">
                        @Html.DisplayFor(model => model.Address2)
                    </td>

                </tr>
                <tr>
                    <td height="50">
                        @Html.DisplayNameFor(model => model.Postal1)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Postal1)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Address1)
                    </td>

                    <td colspan="3">
                        @Html.DisplayFor(model => model.Address1)
                    </td>


                </tr>

            </Table>
        </center>
        <dt>
            @Html.DisplayNameFor(model => model.Status1.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status1.StatusName)
        </dd>






        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>


            @Html.ToFullTaiwanDate(Model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Probation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Probation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Welfare1.WelfareName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Welfare1.WelfareName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Labor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Labor)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.Boss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingHR1.WorkingHRName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingHR1.WorkingHRName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassPortID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassPortID)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Bool.BoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bool.BoolName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Highestedu1.HighestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Highestedu1.HighestName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Graduation1.GraduationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduation1.GraduationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Retired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Health)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEdate)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Method)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Send1.SendName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Send1.SendName)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.Emergency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emergency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Relationship1.RelationshipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relationship1.RelationshipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ephone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { _ID = Model.ID }) |
    @Html.ActionLink("回到列表", "List")|
    @Html.ActionLink("在職證明", "Inservice", new { _ID = Model.ID })
</p>
