@model IEnumerable<CGH.Models.HrCerViewModel>

@{
    ViewBag.Title = "Inservice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inservice</h2>

<table class="table" border="1" width="300px">
    <tr>
        <th>透過 ViewModels來做。<br />多對多（列表）。把每個科系底下的學員，通通列出來</th>
    </tr>
    @*  *********************************************************************************************  *@
    @* 如果把下面通通改成 Html.Display() 為什麼通通變成空白？文字消失不見？ *@
    @*   https://stackoverflow.com/questions/5138230/what-is-the-difference-between-html-label-and-html-display *@
    @*   https://msdn.microsoft.com/zh-tw/library/ee310174(v=vs.118).aspx  *@
    @*  *********************************************************************************************  *@

    @foreach (var itemD in Model)
    {
        <tr>
            <td>
                @* 錯誤範例（這裡的文字會變成隱形、無法呈現） *@
                @* 如果 DepartmentTable2s 類別檔的「屬性」，沒有設定 [DataType(.....)]。這裡就無法（不知道）如何呈現這些資料？ *@
                @*     科系： （ @Html.Display(itemD.DVM.DepartmentId.ToString())  ）<br />
        === @Html.Display(itemD.DVM.DepartmentName) ===<br />  *@


                申請人ID： （ @Html.Label(itemD.HrVM.MemberID.ToString())  ）<br />

                


                ***申請人姓名: @Html.DisplayFor(item => itemD.HrVM.Name) ***<br />
                申請人性別: @Html.DisplayFor(item => itemD.HrVM.Sex1.SexName)
                @* Html.Display()看不見，必須搭配 DepartmentTable2s 類別檔的「屬性」，設定[DataType(.....)]。 但，Html.DisplayFor()正常顯示。 *@
                @* 正常顯示「屬性（欄位標題）名稱」 - Html.LabelFor(item => itemD.DVM.DepartmentName)   *@
            </td>
        </tr>
        <tr>
            <td bgcolor="pink">
                申請單號：<br />                    <br />
                @foreach (var itemU in itemD.CerVM)
                {
                    @*  *********************************************************************************************  *@
                    @*  重點！！如果使用下面這種寫法，遇見「.」符號會隱藏。例如 ADO.NET或 MIS2000 Lab.   *@
                    @*  @Html.Display(itemU.UserName)   <br />   *@
                    @*  *********************************************************************************************  *@


                    @itemU.ContentNO
                    @* 或是寫成  @Html.Raw(itemU.UserName)  *@
                    @*   正常顯示 Html.DisplayFor(item => itemU.UserName)   *@

                    @: --
                    @Html.Label(itemU.ContentNO.ToString())<br />
                }
                <br />
            </td>
        </tr>
    }

</table>


