@model IEnumerable<CGH.Models.Hr>
@using CGH.helper

@{
    ViewBag.Title = "員工一覽表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("List","CGH", FormMethod.Get))

{
    <p>
        <div class="form-group">
            <div class="col-md-10">
                @{ var DDL = new CGH.Models.DropDownList();}
                員工狀況 @Html.DropDownList("Status", DDL.GetStatus() as SelectList, "請選擇", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                部門單位 @Html.DropDownList("Dep", DDL.GetDep() as SelectList, "請選擇", htmlAttributes: new { @class = "form-control" })
                <input type="submit" value="Filter" />
            </div>
        </div>
        
</p>
}<BR><BR>
<h2>員工一覽表</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1" width: 770px;>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Dep1.DepName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status1.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDcardNO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Sex1.SexName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Title1.TitleName)





        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Dep1.DepName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status1.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDcardNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex1.SexName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Title1.TitleName)
            </td>




            <td>
                @Html.ToFullTaiwanDate(item.Birthday)

            </td>



            <td>
                @Html.ActionLink("Edit", "Edit", new { _ID = item.ID }) |
                @Html.ActionLink("Details", "Details", new { _ID = item.ID })

            </td>
        </tr>
    }

</table>
