@model IEnumerable<CGH.Models.Hr>
@using CGH.helper
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1" width: 770px;>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Dep1.DepName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status1.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDcardNO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Sex1.SexName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Title1.TitleName)





        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>

        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Dep1.DepName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status1.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDcardNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex1.SexName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Title1.TitleName)
            </td>




            <td >
                @Html.ToFullTaiwanDate(item.Birthday)
              
            </td>

    

            <td>
                @Html.ActionLink("Edit", "Edit", new { _ID = item.ID }) |
                @Html.ActionLink("Details", "Details", new { _ID = item.ID }) 

            </td>
        </tr>
    }

</table>
