@model IEnumerable<CGH.Models.Order>
@using CGH.helper
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th width="25%">
            @Html.DisplayNameFor(model => model.BuyerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerName)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th width="13%">
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th width="13%">
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th width="13%">
            @Html.DisplayNameFor(model => model.BillingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerUnit1.BuyerUnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyCategory1.BuyCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
               
                @Html.ToFullTaiwanDate(item.StartDate)
            </td>
            <td>
                @Html.ToFullTaiwanDate(item.EndDate)
            </td>
            <td>
                @Html.ToFullTaiwanDate(item.BillingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersTable1.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { _ID = item.ID }) |
                @Html.ActionLink("Details", "OrderDetails", new { _ID = item.ID }) 
                
            </td>
        </tr>
    }

</table>
