@model IEnumerable<CGH.Models.Order>
@using CGH.helper

@{
    ViewBag.Title = "收據清冊";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("OrderInventory", "Order", FormMethod.Get))

{


    @Html.AntiForgeryToken()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="~/jquery/jquery-ui.css" />
    <script src="~/jquery/jquery-ui.js"></script>
    <script src="~/jquery/datepicker-zh-TW.js"></script>
    <script>

        $(function () {
            $("#StartDate").datepicker(

                {
                    changeMonth: true,
                    changeYear: true
                });

        });
        $(function () {
            $("#EndDate").datepicker(

                {
                    changeMonth: true,
                    changeYear: true
                });

        });
    </script>
    <p>
        <div class="form-group">
            
            <div class="col-md-10">
                開始日期<input type="text" id="StartDate" name="StartDate" class="form-control" />

  
                結束日期<input type="text" id="EndDate" name="EndDate" class="form-control" />
                <input type="submit" value="查詢" />
            </div>
        </div>

    </p>
}
<br>
<br>
<br>
<br>
<br><br>

<h2>收據清冊</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BillingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ToFullTaiwanDate(item.BillingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerUnit1.BuyerUnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyCategory1.BuyCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.ToFullTaiwanDate(item.StartDate)
            </td>
            <td>
                @Html.ToFullTaiwanDate(item.EndDate)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>


        </tr>
    }

</table>
